<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="ISO-8859-1">
    <title>Fornecedores | Início</title>
    <script src="resources/js/jquery-3.4.1.min.js"></script>
    <script src="resources/js/angular.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/app.js"></script>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="resources/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Controle de Fornecedores
        </a>
    </nav>
	<Br><Br>
    <div ng-controller="FornecedorController">
        <div class="card">
            <div class="card-header">
                Inserção de Dados
            </div>
            <div class="card-body">
                <form>
                    <input type="hidden" ng-model="fornecedor.id" id="id">
                    <div class="row">
                        <div class="col">
                            <input type="text" ng-model="fornecedor.name" id="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="col">
                            <input type="text" ng-model="fornecedor.email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col">
                            <input type="text" ng-model="fornecedor.comment" id="comment" class="form-control" placeholder="Comment">
                        </div>
                        <div class="col">
                            <input type="number" maxlength="11" ng-model="fornecedor.cnpj" id="cnpj" class="form-control" placeholder="CNPJ">
                        </div>
                        <Br>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col align-self-end">
                            <button type="button" class="btn btn-primary" ng-click="addFornecedor(fornecedor.name,fornecedor.email,fornecedor.comment,fornecedor.cnpj)" ng-show="cadastrar">Cadastrar</button>
                            <button type="button" class="btn btn-success" ng-click="updateFornecedor(fornecedor.id, fornecedor.name, fornecedor.email, fornecedor.comment, fornecedor.cnpj)" ng-show="atualizar">Atualizar</button>
                            <button type="button" class="btn btn-danger" ng-click="cancelarUpdate()" ng-show="cancelAtu">Cancelar Alteração</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="resultado"></div>
		<br>
        <div class="card">
            <div class="card-header">
                Fornecedores Cadastrados
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Email</td>
                            <td>Comment</td>
                            <td>CNPJ</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fornec in fornecedores">
                            <td>
                                {{fornec.id}}
                            </td>
                            <td>
                                {{fornec.name}}
                            </td>
                            <td>
                                {{fornec.email}}
                            </td>
                            <td>
                                {{fornec.comment}}
                            </td>
                            <td>
                                {{fornec.cnpj}}
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm" ng-click="UpdateFornecedorFormulario(fornec)">Alterar</button>
                                <button class="btn btn-danger btn-sm" ng-click="deleteFornecedor(fornec)">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<body background="resources/img/wallpaper.jpg"></body>
<footer><center>Willian Zanol - 2019</center></footer>
</html>